@import '../_variables';

.drinks {
	.container {
		.title {
			margin-top: 65px;
			.items {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				gap: 35px;
				.card {
					margin-top: 20px;
					cursor: pointer;

					h3 {
						color: black;
					}

					p {
						color: rgb(80, 80, 80);
					}

					.description {
						position: relative;
						max-height: 239px;
						.info {
							position: absolute;
							top: 125px;
							left: 15px;
							bottom: 0px;
							h3 {
								margin: 0;
							}

							p {
								margin: 0;
								padding-top: 10px;
							}

							button {
								background-color: $secondBgColor;
								margin-top: 20px;
								font-size: 16px;
								min-width: 100px;
								min-height: 25px;
							}
						}
					}

					img {
						max-width: 275px;
						max-height: 300px;
						object-fit: cover;
					}
				}
			}
		}
	}
}
