@import '_variables';

.benefits {
	.container {
		margin-top: 75px;
		display: flex;
		justify-content: center;
		.items {
			display: flex;
			align-items: center;
			border-radius: 3rem;
			margin: 0 100px;
			background-color: $mainTextColor;
			height: max-content;
			width: max-content;

			.item {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 40px 100px;
				.circle {
					display: flex;
					justify-content: center;
					width: 125px;
					height: 125px;
					border-radius: 50%;
					background-image: linear-gradient(210deg, rgba(35, 114, 73, 1), rgba(53, 198, 107, 1));
				}

				img {
					width: 175px;
					height: 125px;
					object-fit: cover;
				}

				h3,
				p {
					margin: 3px 0;
					text-align: center;
					color: $mainBgColor;
				}
			}
		}
	}
}

@media (max-width: 1100px) {
	.benefits {
		.container {
			.items {
				.item {
					margin: 25px 75px;
				}
			}
		}
	}
}

@media (max-width: 910px) {
	.benefits {
		.container {
			.items {
				.item {
					margin: 25px 60px;
					.circle {
						display: flex;
						justify-content: center;
						width: 100px;
						height: 100px;
						border-radius: 50%;
						background-image: linear-gradient(210deg, rgba(35, 114, 73, 1), rgba(53, 198, 107, 1));
					}

					img {
						width: 150px;
						height: 100px;
						object-fit: cover;
					}

					h3,
					p {
						font-size: 14px;
						margin: 3px 0;
						text-align: center;
						color: $mainBgColor;
					}
				}
			}
		}
	}
}

@media (max-width: 840px) {
	.benefits {
		.container {
			.items {
				// flex-direction: column;

				.item {
					margin: 25px 50px;
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.benefits {
		.container {
			.items {
				flex-direction: column;

				.item {
					margin: 25px 75px;
				}
			}
		}
	}
}
