@import '_variables';

.contacts {
	.container {
		margin-top: 45px;
		display: flex;
		justify-content: space-between;
		.info-wrapper {
			.title {
				// margin: 0;
				font-size: 60px;
				margin: 0 0 60px 0;
			}

			.description {
				font-size: 20px;
				margin: 0 0 60px 0;
			}

			.tg,
			.phone {
				margin: 0 0 30px 0;
				span {
					font-weight: 400;
					margin-left: 10px;
					color: $mainTextColor;
					font-size: 24px;
				}
			}

			.contacts {
				background: linear-gradient(210deg, rgba(35, 114, 73, 1), rgba(53, 198, 107, 1));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.photo {
			img {
				z-index: 3;
				position: absolute;
				// left: 375px;
				// top: 50px;
				// width: 450px;
			}

			svg {
				position: relative;
				z-index: 2;
			}
		}
	}
}

@media (max-width: 1000px) {
	.contacts {
		.container {
			flex-direction: column;

			.photo {
				width: 325px;

				img {
					width: 350px;
				}

				svg {
					height: 500px;
				}
			}
		}
	}
}
