@import '_variables';

.header {
	width: 100%;
	padding: 10px 0;
	.container {
		display: flex;
		align-items: center;
		margin-top: 10px;

		.header-title {
			margin-right: 100px;
			.title {
				font-size: 38px;
				font-weight: 800;
				letter-spacing: -1px;
			}
		}

		.navbar {
			.home {
				position: relative;
			}

			.home::after {
				content: '';
				position: absolute;
				background-color: white;
				height: 3px;
				width: 0;
				left: 0;
				bottom: -3px;
				transition: 0.3s;
			}

			.home:hover::after {
				width: 100%;
			}

			.about {
				position: relative;
			}

			.about::after {
				content: '';
				position: absolute;
				background-color: white;
				height: 3px;
				width: 0;
				left: 0;
				bottom: -3px;
				transition: 0.3s;
			}

			.about:hover::after {
				width: 100%;
			}

			.shop {
				position: relative;
			}

			.shop::after {
				content: '';
				position: absolute;
				background-color: white;
				height: 3px;
				width: 0;
				left: 0;
				bottom: -3px;
				transition: 0.3s;
			}

			.shop:hover::after {
				width: 100%;
			}

			.modal-btn:checked + label,
			.modal-btn:not(:checked) + label {
				cursor: pointer;
				font-size: 20px;
				color: white;
			}
			.modal-btn:not(:checked) + label:hover {
			}
			.modal-btn:checked + label .uil,
			.modal-btn:not(:checked) + label .uil {
				margin-left: 10px;
				font-size: 18px;
			}
			.modal-btn:checked + label:after,
			.modal-btn:not(:checked) + label:after {
				position: fixed;
				top: 30px;
				right: 30px;
				z-index: 110;
				width: 40px;
				border-radius: 3px;
				height: 30px;
				text-align: center;
				line-height: 30px;
				font-size: 16px;
				background-color: #ffeba7;
				color: #0b5a32;
				content: 'X';
				box-shadow: 0 12px 25px 0 rgba(16, 39, 112, 0.25);
				transition: all 200ms linear;
				opacity: 0;
				pointer-events: none;
				transform: translateY(20px);
			}
			.modal-btn:checked + label:hover:after,
			.modal-btn:not(:checked) + label:hover:after {
				background-color: #025926;
				color: #ffeba7;
			}
			.modal-btn:checked + label:after {
				transition: opacity 300ms 300ms ease, transform 300ms 300ms ease,
					background-color 250ms linear, color 250ms linear;
				opacity: 1;
				pointer-events: auto;
				transform: translateY(0);
			}
			.modal {
				position: fixed;
				display: block;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-ms-flex-pack: center;
				justify-content: center;
				margin: 0 auto;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 100;
				overflow-x: hidden;
				background-color: rgba(31, 32, 41, 0.75);
				pointer-events: none;
				opacity: 0;
				transition: opacity 250ms 700ms ease;
			}
			.modal-btn:checked ~ .modal {
				pointer-events: auto;
				opacity: 1;
				transition: all 300ms ease-in-out;
			}
			.modal-wrap {
				position: relative;
				display: block;
				width: 100%;
				max-width: 400px;
				margin: 0 auto;
				margin-top: 20px;
				margin-bottom: 20px;
				border-radius: 4px;
				overflow: hidden;
				padding-bottom: 20px;
				background-color: #fff;
				-ms-flex-item-align: center;
				align-self: center;
				box-shadow: 0 12px 25px 0 rgba(199, 175, 189, 0.25);
				opacity: 0;
				transform: scale(0.6);
				transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
			}
			.modal-wrap img {
				display: block;
				width: 100%;
				height: auto;
			}
			.modal-wrap p {
				padding: 20px 30px 0 30px;
			}
			.modal-btn:checked ~ .modal .modal-wrap {
				opacity: 1;
				transform: scale(1);
				transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
			}

			.full-height {
				background-color: #121517;
			}
		}

		ul {
			display: flex;
			padding: 0;
			margin: 0;

			li {
				padding-right: 70px;
				a {
					font-size: 20px;
					color: $mainTextColor;
				}
			}
		}
	}
}

@media (max-width: 885px) {
	.header {
		.container {
			justify-content: space-between;
			.header-title {
				margin-right: 35px;
				.title {
					font-size: 24px;
				}
			}

			ul {
				li {
					padding: 0 0 0 50px;
					a {
						font-size: 14px;
					}
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.header {
		.container {
			justify-content: space-between;

			.navbar {
				display: none;
			}

			.burger__header {
				position: relative;
				width: 40px;
				height: 20px;

				span,
				&:after,
				&:before {
					border-radius: 1rem;
					height: 2px;
					position: absolute;
					width: 100%;
					margin: 0 auto;
					background-image: linear-gradient(210deg, rgba(35, 114, 73, 1), rgba(53, 198, 107, 1));
				}

				span {
					top: 8px;
				}

				&:after {
					content: '';
					top: 1px;
				}

				&:before {
					content: '';
					bottom: 2px;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.header {
		.container {
			.header-title {
				margin-right: 20px;
				a {
					align-self: center;
					svg {
						width: 150px;
					}
				}
			}
		}
	}
}
