@import '_variables';

.welcome {
	.container {
		display: flex;
		justify-content: space-between;
		margin-top: 35px;
		.info {
			max-width: 570px;
			h1 {
				margin: 0;
				font-size: 60px;
			}

			&-p {
				margin-top: 40px;
				font-size: 18px;
			}

			.starbucks {
				background: linear-gradient(210deg, rgba(35, 114, 73, 1), rgba(53, 198, 107, 1));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			.more-btn {
				.btn {
					margin-top: 30px;
					height: 60px;
					width: 150px;
					background-color: rgb(42, 42, 42);
					cursor: pointer;
				}

				.btn:hover {
					background-color: rgb(35, 34, 34);
				}

				.select {
					margin-right: 20px;
					cursor: pointer;
					width: 330px;
					font-weight: 500;
					background-image: linear-gradient(210deg, rgba(35, 114, 73, 1), rgba(53, 198, 107, 1));
				}
			}

			.select:hover {
				background-image: linear-gradient(210deg, rgb(21, 80, 50), rgb(42, 164, 87));
			}

			.achievments {
				display: flex;
				margin-top: 10px;
				h2 {
					margin-bottom: 0;
					margin-right: 65px;
					font-size: 48px;
					font-weight: 400;
				}

				p {
					margin: 0;
				}
			}
		}

		img {
			width: 350px;
		}
	}
}

@media (max-width: 1200px) {
	.welcome {
		.container {
			.info {
				h1 {
					font-size: 52px;
				}

				p {
					font-size: 14px;
				}

				.btn {
					height: 50px;
				}

				.select {
					width: 250px;
				}

				.more {
					width: 100px;
				}

				.achievments {
					h2 {
						font-size: 36px;
					}
				}
			}

			img {
				width: 300px;
			}
		}
	}
}

@media (max-width: 910px) {
	.welcome {
		.container {
			.info {
				h1 {
					font-size: 48px;
				}

				p {
					font-size: 12px;
				}

				.btn {
					font-size: 20px;
				}

				.select {
					margin-right: 10px;
					width: 225px;
				}

				.achievments {
					h2 {
						font-size: 24px;
					}
				}
			}
		}
	}
}

@media (max-width: 840px) {
	.welcome {
		.container {
			flex-direction: column-reverse;

			.info {
				h1 {
					margin-top: 30px;
				}

				p {
					font-size: 16px;
				}

				.select {
					margin-right: 10px;
					width: 250px;
				}
			}

			img {
				align-self: center;
				width: 250px;
			}
		}
	}
}

@media (max-width: 520px) {
	.welcome {
		.container {
			flex-direction: column-reverse;

			.info {
				h1 {
					margin-top: 40px;
				}

				p {
					margin-top: 30px;
					font-size: 12px;
				}

				.select {
					width: 225px;
					height: 50px;
					font-size: 20px;
				}

				.more {
					width: 100px;
					height: 50px;
					font-size: 20px;
				}

				.achievments {
					h2 {
						margin-bottom: 0;
						margin-right: 65px;
						font-size: 32px;
						font-weight: 400;
					}

					p {
						margin: 0;
					}
				}
			}

			img {
				width: 250px;
			}
		}
	}
}
